.grid-container{
    display: grid;
    gap: 0.2rem;    
    grid-template-columns: repeat( auto-fill, minmax(min(7rem,32dvw),1fr) );
    grid-auto-flow: dense;
}

.obs-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}


.grid-item{
    position: relative;
}

@media screen and (min-width:768px) {

    .grid-item.square{
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }

    .grid-item.tall{
        grid-row: auto/ span 2;
    }
    
    .grid-item.wide{
        grid-column: auto/ span 2;
    }    

    .grid-item.popular:not(.tall):not(.wide){
        grid-column: auto / span 3;
        grid-row: auto /span 3;
    }
    .grid-item.popular.tall{
        grid-column: auto / span 2;
        grid-row: auto /span 3;
    }
    
    .grid-item.popular.wide{
        grid-column: auto / span 3;
        grid-row: auto /span 2;
    }    
}

@media screen and (max-width:768px) {
    .grid-item.popular:not(.tall):not(.wide){
        grid-column: auto / span 2;
        grid-row: auto /span 2;
    }
    .grid-item.popular.tall{
        grid-row: auto/ span 2;
    }
    .grid-item.popular.wide{
        grid-column: auto/ span 2;
    }   
}

.grid-item:hover .hover-label{
    visibility: visible;
}


.spinner-container{
    display: flex;
    padding: 0.5rem;
    min-height: 2rem;
}

.spinner-container > .spinner{
    margin: auto;
}

.end {
    margin: auto;
}