.notification{
    padding: 0.3rem;
    margin: 0.6rem 0.3rem 0 0.3rem !important;
    border: solid 0.01rem var(--clr-card-border-color);
    line-height: 0.8rem !important;
}

.notification:hover{
    border-color: var(--clr-card-clickable-border-color);
    cursor: pointer;
}

:host{
    width: 100%;
    max-width: 768px;
}

a{
    text-decoration: unset;
}