<app-header class="sticky-top" title="Notifications"></app-header>

<div *ngFor="let notification of notifications" class="notification p5">
    <a [routerLink]="['../observation',notification.resource_uuid]">
        <strong>{{ notification.comment?.user?.login || notification.identification?.user?.login }}</strong>
        {{ notification.comment ? 'commented ': 'suggested an ID: ' }}
        <em>{{ notification.comment?.body || notification.identification?.taxon?.name }} </em>
        <span class="p7">{{notification.created_at|dateTimeAgo|async}}</span>
    </a>
</div>

<div class="container" *ngIf="loading">
    <span class="spinner spinner-md">
        Loading...
    </span>
</div>

<div *ngIf="errorText" class="container">
    <span>Missing/expired token</span>
</div>