<div class="container">
    <div class="filter">
        <app-chips [chips]="chips" (chipSelect)="select($event)"></app-chips>
        <button class="btn btn-icon btn-sm btn-link" (click)="search.classList.toggle('display')"><cds-icon shape="search"></cds-icon></button>
        <form (submit)="onSubmit()">
            <input class="p5 search" [(ngModel)]="q" #search name="q" type="text">
        </form>
    </div>

    <div class="projects-container">
        <app-project-card *ngFor="let project of projects" [project]="project">
        </app-project-card>
    </div>


    <div class="spinner-container" appIntersectionObserver (intersected)="intersected()" [observe]="observe">
        <span class="spinner spinner-md" [hidden]="!loading">
            Loading...
        </span>
        <span *ngIf="projects.length == 0 && loading==false">No Results</span>
    </div>
</div>