<div class="carousel-container" #carousel>
    <ul id="carousel" [ngStyle]="{'width.%':100*photos.length}">
        <li class="slide" *ngFor="let photo of photos; let i=index;" 
        [ngStyle]="{'width.%':100/photos.length}">
            <div *ngIf="photos.length>1" class="index">{{i+1}}/{{photos.length}}</div>
            <img #img [src]="photo.url" loading="lazy" 
            [width]="photo.original_dimensions.width" 
            [height]="photo.original_dimensions.height"
            (click)="openfullscreen(i)" >
            <div class="attribution p7" #att (click)="att.classList.toggle('display')">{{photo.attribution}}</div>
        </li>
    </ul>
</div>


<button type="button" class="btn btn-icon btn-primary left" [hidden]="photos.length==1"
    (click)="carousel.scrollTo({left:carousel.scrollLeft - carousel.offsetWidth})" 
    aria-label="left">
    <cds-icon shape="angle" direction="left"></cds-icon>
</button>
<button type="button" class="btn btn-icon btn-primary right" [hidden]="photos.length==1"
    (click)="carousel.scrollTo({left:carousel.scrollLeft + carousel.offsetWidth })" 
    aria-label="right">
    <cds-icon shape="angle" direction="right"></cds-icon>
</button>

<ng-template #fullscreenTemplate></ng-template>