.index {
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 20%;
    padding-left: .25rem;
    padding-right: .25rem;
    top: 0;
    right: 0;
    margin: 0.5rem;
}

.buttons {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: inherit;
    margin: 0 !important;
    padding: 0.3rem;
    transform: translateY(-50%);
    opacity: .5;
}

.btn{
    margin: 0 !important;
}

img{
    height: 100vw !important;
    object-fit: cover;
    max-height: 600px;
    width: 100%;
}

.contain {
    object-fit: contain !important;
}

.carousel-container{
    height: 100vw !important;
    max-height: 600px;
    overflow-x: scroll;
    width: inherit;
    max-width: 600px;
    padding: 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slide {
    scroll-snap-align: start;
}


li{
    list-style-position: initial !important;
    position: relative;
    list-style: none;
}

#carousel{
    display: flex;
    -webkit-overflow-scrolling: touch
}

@media screen and (max-width: 768px) {
    .buttons{
        display: none !important;
    }   
}