
.chips-container{
    display: flex;
    padding: 0.3rem;
}

.chips-container > .btn{
    margin: 0 !important;
    align-self: center;
}

.chips{
    display: flex;
    flex-direction: row;
}

.label{
    align-self: center;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--clr-color-action-50);
    padding: 0 0.6rem !important;
    margin: 0 .3rem .05rem 0 !important;
    height: 1.2rem !important;
}

.label:hover{
    font-weight: 500;
}

.label:not(.label-selected):hover {
    background-color: var(--clr-color-action-100);
}

.label-selected:hover{
    background-color: var(--clr-color-action-700);
}

.label-selected{
    background-color: var(--clr-color-action-600);
    color: hsl(198, 0%, 100%) !important;
}

clr-dropdown > .label > cds-icon{
    position: relative !important;
    right: unset;
}

.btn-pref{
    text-transform: unset;
    margin: 0;
}

.position-static {
    position: static !important;
}

.display-none {
    display: none;
}

.chip-option{
    margin: 0.1rem !important;
}

::-webkit-scrollbar{
    display: none;
}


:host{
    display: inline;
}