<span *ngFor="let chip of chips" class="chip">            
    <clr-dropdown *ngIf="chip.options else simple" clrPosition="bottom-right">
        <span clrDropdownTrigger [class.label-selected]="chip.selected" class="label pointer-on-hover">
            {{chip.label}}{{ chip.selected ? ':'+chip.option : '' }}
            <cds-icon shape="angle" size="sm" direction="down"></cds-icon>
        </span>
        <clr-dropdown-menu *clrIfOpen >
            <div *ngFor="let option of chip.options" (click)="selectChip(chip,option)"
            class="p7 chip-option" clrDropdownItem>{{option}}</div>
        </clr-dropdown-menu>
    </clr-dropdown>

    <ng-template #simple>
        <span class="label pointer-on-hover"
            [class.label-selected]="chip.selected" 
            (click)="selectChip(chip)">{{chip.label}}
        </span>
    </ng-template>
</span>
    