<div class="card" *ngIf="observation">
    <div class="card-block top-block">
        <div class="clr-row clr-align-items-center">
            <div class="clr-col-auto">
                <a [routerLink]="['',observation.user.login]">
                    <img [src]="observation.user.icon || 'assets/default.png'" 
                        class="user_icon">
                </a>
            </div>
            <div class="clr-col">
                <a [routerLink]="['',observation.user.login]">
                    <h6 class="card-text">{{observation.user.login}}</h6>
                </a>
                <p class="card-text p7">{{observation.place_guess}}</p>
                <p class="card-text p7">{{observation.time_observed_at | dateTimeAgo}}</p>
            </div>
        </div>
        <p class="card-text">{{observation.description}}</p>
    </div>
    <app-carousel class="card-img" [photos]="observation.photos"></app-carousel>
    <div class="card-block">
        <p class="card-text" *ngIf="observation.faves_count">{{observation.faves_count}} fave<ng-container *ngIf="observation.faves_count > 1">s</ng-container></p>
        <div *ngIf="observation.identifications?.length; else elseBlock">
            <p class="card-text"><strong>{{observation.identifications[0].user.login}}</strong>
            <em> {{observation.identifications[0].taxon.name}}</em></p>
        </div>
        <ng-template class="card-text" #elseBlock>
            <p class="card-text"><em>unknown</em></p>
        </ng-template>
    </div>
</div>
