<div class="card" *ngIf="observation">
    <div class="card-block top-block">
        <div class="clr-row clr-align-items-center">
            <div class="clr-col-auto">
                <a [routerLink]="['',observation.user.login]">
                    <img [src]="observation.user.icon || 'assets/default.png'" 
                        class="user_icon">
                </a>
            </div>
            <div class="clr-col">
                <a [routerLink]="['naturalist',observation.user.login]">
                    <h6 class="card-text">{{observation.user.login}}</h6>
                </a>
                <p class="card-text p7">{{observation.place_guess}}</p>
                <p class="card-text p7">{{observation.time_observed_at | dateTimeAgo}}</p>
            </div>
        </div>
        <p class="card-text p3">{{observation.description}}</p>
    </div>
    <app-carousel class="card-img" [photos]="observation.photos"></app-carousel>
    <div class="card-block bottom-block">
        <div class="card-actions clr-row">
            <button type="button" [disabled]="!authorized" [clrLoading]="faveBtnState" 
                class="btn btn-icon btn-link" (click)="fave()" aria-label="fave">
                <cds-icon shape="star" [attr.solid]="isFaved" size="md"></cds-icon>
            </button>
            <button type="button"
                class="btn btn-icon btn-link" aria-label="fave">
                <cds-icon shape="chat-bubble" size="md"></cds-icon>
            </button>
            <button type="button" 
                class="btn btn-icon btn-link" aria-label="fave">
                <cds-icon shape="info-standard" size="md"></cds-icon>
            </button>
            <span class="margin-auto"></span>
            <!-- <button class="btn btn-sm quality-grade" 
            [class]="{'btn-success': observation.quality_grade=='research grade',
            'btn-warning': observation.quality_grade=='needs id'}">{{observation.quality_grade}}</button> -->
            <button type="button" [disabled]="!authorized" 
                class="btn btn-icon btn-link bookmark" aria-label="fave" (click)="bookmark()">
                <cds-icon shape="bookmark" size="md" [attr.solid]="isBookmarked"></cds-icon>
            </button>
        </div>

        <p class="card-text p5">{{faveText()}}</p>

        <div *ngIf="currentIdentification">
            <p class="card-text p5"><strong>
                <a [routerLink]="['naturalist',currentIdentification.user.login]">
                    {{currentIdentification.user.login}}</a></strong>
            <em> {{currentIdentification.taxon.name}}</em>
            <!-- <button type="button" [disabled]="!authorized" class="btn btn-sm btn-outline-success agree" aria-label="fave">
                <cds-icon shape="check-circle" size="sm"></cds-icon> Agree
            </button> -->
            </p>
            <!-- <p class="card-text p7">{{currentIdentification.created_at | dateTimeAgo }} </p>-->
        </div>
        <div *ngIf="comment">
            <p class="card-text p5"><strong>
                <a [routerLink]="['naturalist',comment.user.login]">
                    {{comment.user.login}}</a></strong> {{comment.body}}
            <!-- <button type="button" [disabled]="!authorized" class="btn btn-sm btn-outline-success agree" aria-label="fave">
                <cds-icon shape="check-circle" size="sm"></cds-icon> Agree
            </button> -->
            </p>
            <!-- <p class="card-text p7">{{currentIdentification.created_at | dateTimeAgo }} </p>-->
        </div>
        <ng-container *ngIf="authorized">
            <div class="clr-row clr-align-items-center add-comment">
                <img [src]="authService.me?.icon || 'assets/default.png'" class="user_icon user_icon-sm">
                <p class="p5 card-text">Add a comment or suggest an ID</p>
            </div>
        </ng-container>
        <p class="card-text p7">{{observation.created_at | dateTimeAgo}}</p>
    </div>
</div>
