<div class="card" *ngIf="observation">
    <div class="card-block top-block">
        <div class="clr-row clr-align-items-center">
            <div class="clr-col-auto">
                <a [routerLink]="['',observation.user.login]">
                    <img [src]="observation.user.icon || 'assets/default.png'" 
                        class="user_icon">
                </a>
            </div>
            <div class="clr-col">
                <div class="card-text">
                    <a [routerLink]="['naturalist',observation.user.login]">
                        <h6>{{observation.user.login}}</h6>
                    </a>
                    <p class="p7">{{observation.place_guess}} 
                    <span><br>{{observation.time_observed_at | dateTimeAgo | async}}</span></p>
                </div>
            </div>
        </div>
        <p class="card-text p5">{{observation.description}}</p>
    </div>
    <app-carousel class="card-img" [photos]="observation.photos"></app-carousel>
    <div class="card-block bottom-block">
        <div class="card-actions clr-row">
            <button type="button" [disabled]="!(!(authService.expired$ | async))" [clrLoading]="faveBtnState" 
                class="btn btn-icon btn-link" (click)="fave()" aria-label="fave">
                <cds-icon shape="star" [attr.solid]="isFaved" size="md"></cds-icon>
            </button>
            <button type="button" (click)="comments()"
                class="btn btn-icon btn-link">
                <cds-icon shape="chat-bubble" size="md"></cds-icon>
            </button>
            <a [href]="observation.uri">
                <button type="button" 
                    class="btn btn-icon btn-link" href="">
                    <cds-icon shape="info-standard" size="md"></cds-icon>
                </button>
            </a>
            <span class="margin-auto"></span>
            <button type="button"
                class="btn btn-icon btn-link bookmark" aria-label="fave" disabled (click)="bookmark()">
                <cds-icon shape="bookmark" size="md" [attr.solid]="isBookmarked"></cds-icon>
            </button>
        </div>

        <p class="card-text p5">{{faveText()}}</p>

        <div *ngIf="currentIdentification">
            <p class="card-text p5"><strong>
                <a [routerLink]="['naturalist',currentIdentification.user.login]">
                    {{currentIdentification.user.login}}</a></strong>
                <em> {{currentIdentification.taxon.name}}</em>
            </p>
        </div>
        <div *ngIf="comment">
            <p class="card-text p5"><strong>
                <a [routerLink]="['naturalist',comment.user.login]">
                    {{comment.user.login}} </a></strong>
                <span [innerHtml]="comment.body"></span>
            </p>
        </div>
        <ng-container *ngIf="authorized">
            <div class="clr-row clr-align-items-center add-comment" (click)="comments()">
                <img [src]="authService.me?.icon || 'assets/default.png'" class="user_icon user_icon-sm">
                <p class="p5 card-text">Add a comment or suggest an ID</p>
            </div>
        </ng-container>
        <p class="card-text p7">{{observation.created_at | dateTimeAgo | async}}</p>
    </div>
</div>

<div class="modal" [hidden]="!isCommentsOpen">
    <div class="modal-dialog modal-lg fadeDown in" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" (click)="isCommentsOpen=false" class="close" type="button">
                    <cds-icon shape="close"></cds-icon>
                </button>
                <h6>{{observation.quality_grade}}</h6>
            </div>
            <ng-template #temp></ng-template>
        </div>
    </div>
</div>




