.card{
    max-width: 100%;
    width:700px;
    box-shadow: unset !important;
    border-style: unset !important;
    margin: .6rem auto;
}

@media screen and (min-width: 768px) {
    .card{
        border-style: solid !important;
    }   
}

.user_icon{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.user_icon-sm{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.card-text{
    margin: 0.15rem 0 !important;
}

.card-text > .p7{
    margin: 0;
}

h6{
    margin: 0;
}

.clr-col-auto{
    padding: 0;
}

.card-img {
    position: relative;
    width: 100%; 
    display: inline-block;
}

.clr-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* .top-block {
    padding: .3rem .9rem !important;
}    */

.bottom-block{
    padding-top: 0;
}

.card-block{
    padding: 0 .6rem .3rem !important;
    border: none !important;
}

.card-actions > .btn{
    width: 26px !important;
}

a{
    text-decoration: unset;
}

.p5{
    line-height: .8rem !important;
}

.margin-auto{
    margin: auto;
}

.bookmark{
    margin: 0 0 0 0.6rem !important;
}

.agree{
    padding: 0 !important;
    margin-left: 0.3rem;
}

.add-comment{
    margin: 0.3rem 0;
}

.modal-content{
    max-height: 80dvh;
    /* overflow-y: scroll; */
}

.modal{
    padding: 0 !important;
    justify-content: end;
}

.modal-header{
    padding: 0 !important;
}