.card{
    max-width: 500px;
    box-shadow: unset !important;
    margin-top: .6rem !important;
    margin-bottom: .6rem;
    border-style: unset !important;
}

.user_icon{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.card-text{
    margin: 0 !important;
}

.clr-col-auto{
    padding: 0;
}

.card-img {
    position: relative;
    width: inherit;
    display: inline-block;
}

.clr-row {
    margin-left: 0 !important;
    margin-bottom: 0.3rem;
}

.top-block {
    padding: .3rem .9rem !important;
}   

.bottom-block{
    padding-top: 0;
}

.card-actions{
    margin-bottom: 0.5rem;
}

a{
    text-decoration: unset;
}