.card{
    width: 100%;
    max-width: 768px;
    box-shadow: unset;
    border-style: unset !important;
    margin: 0 auto 1rem auto;
    padding: 0.3rem 0;
    line-height: 1px;
}

@media screen and (min-width: 768px) {
    .card{
        border-style: solid !important;
        box-shadow: 0.05rem 0.1rem 0.05rem var(--clr-card-box-shadow-color);
        border-radius: 0.3rem;
        background-color: white;
        width: 700px;
    }   
}

.user_icon{
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    object-fit: cover;
}

.user_icon-sm{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.card-text{
    margin: 0.15rem 0 !important;
}

.card-text > .p7{
    margin: 0;
}

.p7{
    margin: 0;
}

h6{
    margin: 0;
    line-height: 1rem;
}

.clr-col-auto{
    padding: 0;
}

.card-img {
    position: relative;
    width: 100%; 
    display: inline-block;
    height: 450px;
    flex:none;
}

.clr-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.bottom-block{
    padding-top: 0;
}

.card-block{
    padding: 0 .6rem !important;
    border: none !important;
}

.gram-header{
    display: flex;
    align-items: center;
}

.gram-meta{
    padding: 0 0.3rem;
}

.gram-meta > * {
    margin-top: 0;
}


.card-actions > .btn{
    width: 26px !important;
}

.card-actions > * {
    align-self: center;
}

a{
    text-decoration: unset;
}

.p5{
    line-height: .8rem !important;
}

.margin-auto{
    margin: auto;
}

.bookmark{
    margin: 0 0 0 0.6rem !important;
}

.agree{
    padding: 0 !important;
    margin-left: 0.3rem;
}

.add-comment{
    margin: 0.3rem 0;
}

.modal-content{
    max-height: 95dvh;
    padding: 0.6rem;
}


@media screen and (min-width: 768px) {
    .album{
        display: block;
        height: auto !important;
    }
    .carousel{
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .album{
        display:none;
    }
    .carousel{
        display: block;
    }
    .card{
        width: 100% !important;
    }
    .modal{
        top: unset;
        padding: 0 !important;
        justify-content: end;
    }
    .modal-img{
        display: none;
    }
    .modal-carousel{
        display:none !important;
    }
    .card-img{
        height: 100vw;
    }
    .modal-obs-meta-lg{
        display: none;
        flex:initial;
    }
    .modal-obs-meta-sm{
        display: inline-block !important;
    }
    .modal-body{
        max-height: 75dvh;
        height: auto !important;
    }
    .modal-activity{
        flex: auto !important;
        width: 100% !important;
        min-width: unset !important;
        max-height: 75dvh;
        height: auto !important;
    }
}

.modal-dialog{
    width: 65rem;
}

.modal-obs-meta-sm{
    display: none;
}

.modal-header{
    padding: 0 !important;
}

.activity-container{
    border: solid;
}

.modal-body {
    display: flex;
    width: 100%;
    height: 85dvh;
}

.modal-activity{
    width: 20rem;
    flex: none;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.modal-carousel {
    border: solid;
    border-width: thin;
    border-color: var(--clr-card-border-color);
    flex: auto;
    height: 85dvh;
    margin-right: 0.6rem;
    position: relative;
    width: 100%; 
    display: inline-block;
}

.taxon-grade{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding: 0.3rem 0;
}

.taxon-grade-label{
    border-radius: 50%;
    font-size: var(--clr-label-font-size);
    background-color: var(--clr-label-success-bg-color);
    color: var(--clr-label-success-font-color);
    padding: 0.25rem;
}

.taxon {
    flex: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.taxon > * > * > h6{
    margin-right: 0.2rem;
}

.taxon > h6,.p7{
    margin-top: 0 !important;
}