.index{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 0 0.25rem;
    border-radius: 0.3rem;
    line-height: 1rem;
    font-size: small;
    display: block;
}

.attribution{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.5rem; 
    background-color: rgba(0,0,0,0.5);
    color: white;
    line-height: 1rem;
    font-size: smaller;
    display: block;
    padding: 0 0.25rem;
    border-radius: 0.3rem;
    opacity: 0.5;
    width: 1.2rem;
    overflow: clip;
    white-space: nowrap;
}

.attribution:hover{
    opacity: 1;
    width: fit-content;
}

.grid-item > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: inherit;
    max-width: 100%;
}

.grid-item{
    position: relative;
}

.grid-container{
    width: inherit;
    gap: 0.3rem;
    display: grid;
}

.grid-item > img:hover{
    cursor: pointer;
}

.solo{
    grid-template-columns: 1fr;
}

.solo > .grid-item{
    max-height: 500px;
}

.solo > .tall{
    margin: auto;
    height: 500px
}

.duo{
    grid-template-columns: 1fr 1fr;
}

.duo > .grid-item{
    max-height: 500px;
}

.trio{
    grid-template-columns: 1fr 1fr 1fr;
}

.trio:has(.wide.first), .trio:has(.square.first){
    grid-auto-rows: minmax(100px,250px);
}

.trio:has(.tall.first) > .grid-item{
    max-height: 500px;
}

.trio > .wide.first, .trio >.square.first{
    grid-column: auto/ span 2;
    grid-row: auto/ span 2;
}




