<clr-main-container>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" >
      <a clrVerticalNavLink [routerLink]="['home']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
        Home
      </a>
      <a clrVerticalNavLink [routerLink]="['search']" disabled>
        <cds-icon clrVerticalNavIcon shape="search"></cds-icon>
        Search
      </a>
      <a clrVerticalNavLink [routerLink]="['following']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="image-gallery"></cds-icon>
        Following
      </a>
      <a clrVerticalNavLink [routerLink]="['projects']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="briefcase"></cds-icon>
        Projects
      </a>
      <!-- <a clrVerticalNavLink [routerLink]="['bookmark']">
        <cds-icon clrVerticalNavIcon shape="bookmark"></cds-icon>
        Bookmarks
      </a> -->
      <a clrVerticalNavLink [routerLink]="['authorize']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="key" [attr.badge]="(authServ.expired$ | async) ? 'warning': null">
        </cds-icon>
        Authorize
      </a>
    </clr-vertical-nav>
    <div class="content-area" #contentArea>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="mobile-footer">
    <button class="btn btn-link btn-icon" [routerLink]="['home']" routerLinkActive #rlah="routerLinkActive">
      <cds-icon shape="home" size="md" [attr.solid]="rlah.isActive" ></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" [routerLink]="['search']" routerLinkActive #rlas="routerLinkActive">
      <cds-icon shape="search" size="md" [attr.solid]="rlas.isActive"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" [routerLink]="['following']" routerLinkActive #rlaf="routerLinkActive">
      <cds-icon shape="image-gallery" size="md" [attr.solid]="rlaf.isActive" ></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" [routerLink]="['projects']" routerLinkActive #rlap="routerLinkActive">
      <cds-icon shape="briefcase" size="md" [attr.solid]="rlap.isActive"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" [routerLink]="['authorize']" routerLinkActive #rlaa="routerLinkActive">
      <cds-icon shape="key" size="md" 
        [attr.badge]="(authServ.expired$ | async) ? 'warning': null " [attr.solid]="rlaa.isActive"></cds-icon>
    </button>
  </div>
</clr-main-container>

