.branding{
    max-width: fit-content !important;
}

.content-area{
    padding: 0 !important;
}

.main-container{
    max-height: 100dvh !important;
}

@media screen and (max-width: 768px) {
    .mobile-footer{
        display: inline-block !important;
    }    
}

.mobile-footer{
    display: none;
}

.mobile-footer > .btn{
    width: 20%;
}

.clr-vertical-nav{
    background-color: white;
}

.nav-dropdown {
    display: grid;
}

.nav-dropdown-btn{
    color: white;
    align-self: center;
}

