<clr-main-container>
  <div class="custom-header">
    <a [routerLink]="['/']">
      <cds-icon shape="brand" class="brand"></cds-icon>
    </a>
    <div class="header-actions">
      <clr-dropdown>
        <button class="btn btn-link btn-icon" clrDropdownTrigger aria-label="toggle settings menu">
            <cds-icon shape="cog" size="md"></cds-icon>
            <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a [routerLink]="['preference']" clrDropdownItem>
              <cds-icon shape="cog"></cds-icon>Preferences</a>
            <a [routerLink]="['authorize']" clrDropdownItem>
              <cds-icon shape="key"></cds-icon>Authorize</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </div>
  <div class="content-container">
    <clr-vertical-nav [clr-nav-level]="2">
      <a clrVerticalNavLink [routerLink]="['/']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
        Home
      </a>
      <a clrVerticalNavLink [routerLink]="['']" disabled>
        <cds-icon clrVerticalNavIcon shape="search"></cds-icon>
        Search
      </a>
      <a clrVerticalNavLink [routerLink]="['']" disabled>
        <cds-icon clrVerticalNavIcon shape="image-gallery"></cds-icon>
        Following
      </a>
      <a clrVerticalNavLink [routerLink]="['/']" disabled>
        <cds-icon clrVerticalNavIcon shape="briefcase"></cds-icon>
        Projects
      </a>
      <a clrVerticalNavLink [routerLink]="['bookmark']">
        <cds-icon clrVerticalNavIcon shape="bookmark"></cds-icon>
        Bookmarks
      </a>
    </clr-vertical-nav>
    <div class="content-area" #contentArea>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="mobile-footer">
    <button class="btn btn-link btn-icon" [routerLink]="['/']" >
      <cds-icon shape="home" size="md"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" disabled [routerLink]="['/']">
      <cds-icon shape="search" size="md"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" disabled [routerLink]="['/']">
      <cds-icon shape="image-gallery" size="md"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" disabled [routerLink]="['/']">
      <cds-icon shape="briefcase" size="md"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" disabled [routerLink]="['/']">
      <cds-icon shape="bookmark" size="md"></cds-icon>
    </button>
  </div>
</clr-main-container>