<clr-main-container>
  <div class="content-container">
    <clr-vertical-nav [clr-nav-level]="2">
      <a clrVerticalNavLink [routerLink]="['/']" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
        Home
      </a>
      <a clrVerticalNavLink [routerLink]="['']" disabled>
        <cds-icon clrVerticalNavIcon shape="search"></cds-icon>
        Search
      </a>
      <a clrVerticalNavLink [routerLink]="['following']" disabled>
        <cds-icon clrVerticalNavIcon shape="image-gallery"></cds-icon>
        Following
      </a>
      <a clrVerticalNavLink [routerLink]="['/']" disabled>
        <cds-icon clrVerticalNavIcon shape="briefcase"></cds-icon>
        Projects
      </a>
      <a clrVerticalNavLink [routerLink]="['bookmark']">
        <cds-icon clrVerticalNavIcon shape="bookmark"></cds-icon>
        Bookmarks
      </a>
      <a clrVerticalNavLink [routerLink]="['authorize']">
        <cds-icon clrVerticalNavIcon shape="key"></cds-icon>
        Authorize
      </a>
    </clr-vertical-nav>
    <div class="content-area" #contentArea>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="mobile-footer">
    <button class="btn btn-link btn-icon" [routerLink]="['/']" >
      <cds-icon shape="home" size="md"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" disabled [routerLink]="['/']">
      <cds-icon shape="search" size="md"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" [routerLink]="['following']">
      <cds-icon shape="image-gallery" size="md"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" disabled [routerLink]="['/']">
      <cds-icon shape="bookmark" size="md"></cds-icon>
    </button>
    <button class="btn btn-link btn-icon" [routerLink]="['authorize']">
      <cds-icon shape="key" size="md" [attr.badge]="(authServ.expired$ | async) ? 'warning': null "></cds-icon>
    </button>
  </div>
</clr-main-container>

