<app-header title="Following" class="sticky-top"></app-header>
<div class="following-container" *ngIf="following.length">
    <div class="following" #followingC>
        <div *ngFor="let u of following" class="user-container" [class.selected]="u.id==selected?.id">
            <img [src]="u.friend_user.icon_url || 'assets/default.png'" class="user-icon" (click)="select(u)">
            <div class="p8">{{u.friend_user.login}}</div>
        </div>
    </div>
    <button [class.display-block]="followingC.clientWidth < followingC.scrollWidth" 
        class="btn btn-link btn-sm display-none" id="all" 
        *urlify="['/following-list']">All</button>
</div>
<div class="no-token" [hidden]="!auth.isExpired">Missing/expired token</div>
<div class="content" *ngIf="following.length">
    <div class="filter">
        <app-chips [chips]="filterChips" (chipSelect)="onSelect($event)"></app-chips>
    </div>
    <app-observations [query]="params" [style]="'cards'" [size]="1"></app-observations>
</div>
