<app-header title="Following" class="sticky-top"></app-header>
<div class="container">
    <div class="following-container">
        <div class="following" #followingC>
            <div *ngFor="let u of relationships$ | async" class="user-container pointer-on-hover" 
            [class.selected]="u.friend_user.id==(selectedUser$|async)" (click)="select(u)">
                <img [src]="u.friend_user.icon_url || 'assets/default.png'" class="user-icon">
                <div class="p8">{{u.friend_user.login}}</div>
            </div>
        </div>
        <button [class.display-block]="followingC.clientWidth < followingC.scrollWidth" 
            class="btn btn-link btn-sm display-none" id="all" 
            *urlify="['/following-list']">All</button>
    </div>
    <div class="no-token" [hidden]="!(auth.expired$|async)">Missing/expired token</div>
    <div class="content" *ngIf="(q$|async)">
        <div class="filter">
            <app-chips [chips]="filterChips" (chipSelect)="onSelect($event)" [selected]="filterSelect$|async"></app-chips>
        </div>
        <app-observations [query]="q$ | async" [style]="'grid'" [retrieveOnScroll]="true" [size]="1" [allowEmptyQuery]="false">
        </app-observations>
    </div>
</div>