.following{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 0.3rem;
    flex: auto;
}


.following-container{
    display:flex;
    align-items: center;
}

#all{
    margin: 0;
    min-width: unset;
}

.user-container{
    display: flex;
    flex-direction: column;
    padding: 0.6rem 0.3rem;
    width: 3.5rem;
    min-width: 3.5rem;
    overflow-x: hidden;
    flex:none;
}

::-webkit-scrollbar{
    display: none;
}

.selected{
    background-color: var(--clr-color-action-50);
}

.user-container > div{
    margin-top: 0.3rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-icon{
    align-self: center;
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.spinner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    max-width: 785px;
    width: 100%;
    padding: 0.3rem;
}

@media screen and (max-width:758px) {
    .content{
        padding: 0.3rem 0;
    }
    .filter{
        padding-left: 0.3rem;
    }
}

.filter{
    padding-bottom: 0.3rem;
}

.no-token{
    margin: auto;
}
