<div class="project-banner"  [ngStyle]="{
    'background-image': 'url('+bgUrl+')',
    'background-color': project?.banner_color}">
    <img *ngIf="project?.header_image_url" [src]="project?.header_image_url" class="banner-img">
</div>
<div class="project-header">
    <img  [src]="project?.icon ?? '/assets/default.png'" class="project-icon">
    <div>
        <h6 class="m-0">{{project?.title}}</h6>
        <p class="m-0 p5 project-description" [innerHTML]="project?.description"></p>
    </div>
</div>

<div class="project-obs">
    <h6>Recent Observations</h6>
    <div class="grid-container" squareGrid>
        <div class="grid-item" *ngFor="let observation of observations; let last=last">
            <img [src]="observation.photos[0].url" loading="lazy" 
                [width]="observation.photos[0].original_dimensions.width" 
                [height]="observation.photos[0].original_dimensions.height" class="obs-img"
                *urlify="['/observation',observation.uuid]">
            <div class="taxon hover-label" *ngIf="observation.taxon else unidentified"><em>{{observation.taxon.name}}</em>
                <span *ngIf="observation.taxon.preferred_common_name"><br>{{observation.taxon.preferred_common_name}}</span>
            </div>
            <ng-template #unidentified>
                <div class="taxon hover-label">Unidentified</div>
            </ng-template>
            <div class="attribution hover-label">
                <span>{{observation.photos[0].attribution}}</span>
            </div>
        </div>
    </div>
</div>