<app-header title="Observation" class="sticky-top"></app-header>

<div class="container" *ngIf="observation">
    <div class="album">
        <app-carousel [photos]="observation.photos"></app-carousel>
        <app-album [photos]="observation.photos"></app-album>
    </div>
    <div class="sub-header">
        <div class="taxon-grade">
            <div class="taxon" *ngIf="observation.taxon else unknown">
                <h3>{{ ( (observation.taxon.rank_level) > 10 ? observation.taxon.rank : '') | titlecase }} <em>{{observation.taxon.name}}</em></h3>
                <p class="p5">{{observation.taxon.preferred_common_name}}</p>
            </div>
            <ng-template #unknown>
                <div class="taxon">
                    <h3>Unidentified</h3>
                </div>
            </ng-template>
            <button class="btn btn-sm" 
                [class.btn-success]="observation.quality_grade == 'research grade'"
                [class.btn-warning]="observation.quality_grade == 'needs_id'">
                {{observation.quality_grade.replace('_',' ')}}
            </button>
        </div>
        <div class="description p5" *ngIf="wiki">
            <span [innerHTML]="wiki['extract_html']"></span>
            <a [href]="wiki['uri']"> [wiki]</a>
        </div>
        
        <div class="description p5" *ngIf="taxonSummary?.conservation_status">
            <strong>Conservation Status: </strong>
            <span>{{taxonSummary?.conservation_status.iucn_status.replace('_',' ') | titlecase}}</span>
        </div>
        <div class="description p5" *ngIf="taxonSummary?.listed_taxon">
            <span>{{taxonSummary?.listed_taxon.establishment_means_label}}</span> in 
            <span>{{taxonSummary?.listed_taxon.place.display_name}}</span>
        </div>

        <div class="naturalist-action">
            <div class="naturalist">
                    <img *urlify="['/naturalist',observation.user.login]" [src]="observation.user.icon || 'assets/default.png'" 
                        class="naturalist-icon">
                <div>
                    <h6 class="naturalist-login" *urlify="['/naturalist',observation.user.login]">{{observation.user.login}}</h6>
                    <p class="p5">{{observation.user.observations_count}} observations</p>
                </div>
            </div>
            <div class="actions">
                <div>
                    <button class="btn btn-icon btn-link" [disabled]="authService.isExpired" clrLoading="" #b (click)="fave(b)">
                        <cds-icon shape="star" size="md" [attr.solid]="isFaved()"></cds-icon>
                    </button>
                    <h6>{{observation.faves_count}}</h6>
                </div>
                <div (click)="share()">
                    <button class="btn btn-icon btn-link">
                        <cds-icon shape="share" size="md"></cds-icon>
                    </button>
                    <h6>Share</h6>
                </div>
            </div>
        </div>
        <div class="p5 description" [innerHTML]="observation.description"></div>
        <div class="obs-meta-map">
            <div class="obs-meta">
                <div class="p5" *ngIf="observation.time_observed_at">
                    Observed on {{observation.time_observed_at | date: 'MMM d, y h:mm a z':observation.time_zone_offset}}</div>
                
                <div class="p5" *ngIf="observation.created_at">
                    Posted on {{observation.created_at | date: 'MMM d, y h:mm a z': observation.created_at.substring(observation.created_at.length-6) }}</div>
                <div class="p5" *ngIf="observation.place_guess || observation.location">
                    <cds-icon shape="map-marker" size="sm"></cds-icon> {{observation.place_guess}}
                        {{ observation.location }} {{ observation.obscured ? '(obscured)': ''}}
                </div>
            </div>
            <app-map class="map" *ngIf="observation.geojson" [geojson]="observation.geojson"></app-map>
        </div>
    </div>
    <div class="quality-metric">
        <app-quality-metric [qualityMetric]="observation.quality_metrics" 
            [uuid]="observation.uuid">
        </app-quality-metric>
    </div>
    <div class="activity">
        <h6>Activity</h6>   
        <app-comments 
            [comments]="observation.comments" 
            [identifications]="observation.identifications"
            [uuid]="observation.uuid"
            [auto]="true">
        </app-comments>
    </div>

    <div class="footer">
        <div class="p5"> View observation in <span *urlify="observation.uri ?? ''">iNaturalist</span></div>
    </div>
</div>

