.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.album{
    width: 100%;
    position: relative;
    padding: 0 0.6rem;
}

@media screen and (min-width: 768px) {
    app-album{
        display: block;
    }
    app-carousel{
        display: none !important;
    }
    .container{
        padding-right: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .album{
        height: 100vw;
        padding: 0;
    }
    app-album{
        display:none;
    }
    app-carousel{
        display: block;
    }
}

.sub-header{
    width: 100%;
    padding: 0 0.6rem;
}

.quality-metric{
    /* margin-top: 0.6rem; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.display-inline {
    display: inline !important;
}

.taxon-grade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.6rem;
}


.taxon-grade > .btn{
    margin: 0;
}

.taxon {
    flex: auto;
}

.taxon > h3,.p5{
    margin-top: 0 !important;
}



.naturalist-action{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.6rem;
}

.naturalist{
    flex:auto;
    display: flex;
    align-items: center;
}

.naturalist-login{
    margin-top: 0 !important;
}

.naturalist > div > p{
    margin-top: 0 !important;
}

/* .taxon > *{
    margin-top: 0 !important;
} */

.naturalist-icon{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.6rem;
}

.actions {
    display: flex;
}

.actions > div{
    display: flex;
    padding: 0.3rem;
    align-items: center;
}

.btn-icon{
    padding: 0;
    margin: 0;
}

.actions > div > h6{
    margin-top: 0;
}

.actions > div :hover{
    cursor: pointer;
}

.obs-meta > .p5{
    margin-top: 0 !important;
}

.description {
    margin-bottom: 0.3rem !important;
}

.description-activity{
    flex: 1 1 15rem;
    max-width: 100%;
}

.description > a {
    text-decoration: unset;
}

.activity{
    width: 100%;
    flex: auto;
}

.activity > h6{
    margin-top: 0.6rem;
}

.activity > app-comments{
    max-height: 90dvh;
}

.obs-meta-map > h6{
    margin-top: 0.6rem;
}

.two-part{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 0.6rem;
}

.footer{
    padding: 0.6rem;
}


.p5{
    line-height: .8rem !important;
}

.obs-meta-map{
    /* margin-top: 0.6rem; */
    display: flex;
    flex-direction: column;
    flex: 1 1 min-content;

}

.obs-meta{
    flex: 0 1 fit-content;
    max-width: 100%;
    padding: 0 0.3rem 0 0;
}

.map{
    /* flex: 2 0 auto; */
    width: 100%;
    height: 8rem;
    display: block;
}


.projects > div {
    padding: 0.3rem 0;
    display:block;
}

.projects > div:hover{
    background-color: var(--clr-color-action-50);
    cursor: pointer;
}

.project-icon{
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    border-radius: 0.2rem;
    margin-right: 0.3rem;
}