.card-img > img {
    height: 33vw !important;
    object-fit: cover;
    border-radius: 0% !important;
}

.clr-col-4{
    padding: 0.1rem !important;
}

.clr-row{
    margin: 0!important;
}

.card{
    box-shadow: unset !important;
    border-style: unset !important;
    margin: 0 !important;
    border-radius: 0%;
}

.padding{
    padding: 0.3rem 0.6rem;
}

.user{
    display: flex;
}

.user > * {
    align-self: center;
}

.user-info{
    flex: auto;
}

.user-info > * {
    margin-top: 0;
}

.user-icon{
    border-radius: 50%;
    width: 4rem !important;
    height: 4rem !important;
    object-fit: cover;
    margin-right: 0.6rem;
}

.m-0{
    margin: 0;
}

h4{
    margin:0 !important;
}

p{
    margin:0 !important;
}

.user-description{
    /* margin-top: 0.6rem !important; */
    height: min-content;
    width: 100%;
}

.user-description > .p5{
    margin-top: 0 !important;
}

.user-header{
    position: absolute;
}