.card-img > img {
    height: 33vw !important;
    object-fit: cover;
    border-radius: 0% !important;
}

.clr-col-4{
    padding: 0.1rem !important;
}

.clr-row{
    margin: 0!important;
}

.card{
    box-shadow: unset !important;
    border-style: unset !important;
    margin: 0 !important;
    border-radius: 0%;
}

.user{
    margin: 0.6rem !important;
}

.user-icon{
    border-radius: 50%;
    width: 5rem !important;
    height: 5rem !important;
    object-fit: cover;
}

h4{
    margin:0 !important;
}

p{
    margin:0 !important;
}

.user-description{
    margin-top: 0.6rem !important;
    height: min-content;
    width: 100%;
}

.user-description > span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.display-inline {
    display: inline !important;
}

.user-header{
    position: absolute;
}