
    <app-header [title]="'@'+user_login" class="sticky-top"></app-header>

    <div class="user padding">
        <img [src]="user?.icon_url || 'assets/default.png'" 
                class="user-icon">
        <div class="user-info">
            <ng-container *ngIf="user else loading">
                <h5>{{user.name}}</h5>
            </ng-container>
            <div class="p5">@{{user_login}}</div>
            <ng-container *ngIf="user else loading">
                <div class="p5">{{user.observations_count}} Observations</div>
            </ng-container>
        </div>
        <div>
            <button class="btn btn-primary btn-sm m-0" clrLoading #b (click)="follow(b)">
                {{ following ? 'Following':'Follow'}}</button>
        </div>
    </div>

    <div class="user-description padding" >
        <ng-container *ngIf="user else loading">
            <div class="p5" 
                [innerHTML]="user.description?.replaceAll('\r\n\r\n','<br>')?.replaceAll('\r\n','<br>')">
            </div>
        </ng-container>
    </div>

    <div *ngIf="observations else loading" class="observations">
        <h5>Observations</h5>

        <div class="taxonomy" *ngIf="taxonomy else loading">
            <button class="btn btn-icon btn-link btn-sm" (click)="resetTaxonomy()" [disabled]="taxonomy.length==1">
                <cds-icon shape="refresh" size="sm"></cds-icon>
            </button>
            <span *ngFor="let s of taxonomy; let i=index; let last=last">
                <clr-dropdown *ngIf="s.descendant?.length else end">
                    <span clrDropdownTrigger class="p5 taxon-item" clrDropdownTrigger >
                        <ng-container *ngIf="s.rank_level != 100 && s.rank_level != 10 && s.rank_level !=5">
                            {{s.rank | titlecase}}&nbsp;</ng-container>
                        {{s.name | titlecase}}&nbsp;({{s.descendant_obs_count}}) 
                        <cds-icon shape="angle" size="sm" [attr.direction]="last ? 'down':'right'"></cds-icon>
                    </span>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <span class="p5" *ngFor="let c of s.descendant" clrDropdownItem 
                        (click)="selectTaxon(c,i)">
                        <ng-container *ngIf="c.rank_level != 100 && c.rank_level != 10 && c.rank_level !=5">
                            {{c.rank | titlecase}}&nbsp;</ng-container>
                        <em>{{c.name}}</em> ({{c.descendant_obs_count}})</span>
                    </clr-dropdown-menu>
                </clr-dropdown>
                <ng-template #end>
                    <span class="p5 taxon-item"><ng-container *ngIf="s.rank_level != 100 && s.rank_level != 10 && s.rank_level !=5">
                        {{s.rank | titlecase}}&nbsp;</ng-container>
                        <em>{{s.name}}</em> ({{s.descendant_obs_count}})</span>
                </ng-template>
            </span>
        </div>

        <div class="grid-container" squareGrid>
            <div class="grid-item" *ngFor="let observation of observations; let last=last"
            [class.tall]="observation.photos[0].original_dimensions.width/observation.photos[0].original_dimensions.height < 0.7"
            [class.wide]="observation.photos[0].original_dimensions.width/observation.photos[0].original_dimensions.height > 1.4"
            [class.square]="observation.photos[0].original_dimensions.width==observation.photos[0].original_dimensions.height"
            [class.popular]="observation.faves_count > 0">
                <img [src]="observation.photos[0].url" loading="lazy" 
                    [width]="observation.photos[0].original_dimensions.width" 
                    [height]="observation.photos[0].original_dimensions.height" class="obs-img"
                    *urlify="['/observation',observation.uuid]">
                <div class="taxon hover-label" *ngIf="observation.taxon else unidentified"><em>{{observation.taxon.name}}</em>
                    <span *ngIf="observation.taxon.preferred_common_name"><br>{{observation.taxon.preferred_common_name}}</span>
                </div>
                <ng-template #unidentified>
                    <div class="taxon hover-label">Unidentified</div>
                </ng-template>
                <div class="attribution hover-label">
                    <span>{{observation.photos[0].attribution}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="spinner-container" appIntersectionObserver (intersected)="intersected()" [observe]="observe">
        <span class="spinner spinner-md" [hidden]="!loadingObs">
            Loading...
        </span>
    </div>

    <ng-template #loading>
        <clr-progress-bar clrLoop></clr-progress-bar>
    </ng-template>
