
    <app-header [title]="'@'+user_login" class="sticky-top"></app-header>

    <div class="user padding">
        <img [src]="user?.icon_url || 'assets/default.png'" 
                class="user-icon">
        <div class="flex-wrap">
            <div class="user-info">
                <ng-container *ngIf="user else loading">
                    <h2>{{user.name}}</h2>
                </ng-container>
                <div class="p5">@{{user_login}}</div>
                <ng-container *ngIf="user else loading">
                    <div class="p5">{{user.observations_count | intWord}} Observations</div>
                </ng-container>
            </div>
            <button class="btn btn-primary btn-sm m-0" clrLoading #b (click)="follow(b)">
                {{ following ? 'Following':'Follow'}}</button>
        </div>
    </div>

    <div class="user-description padding" >
        <ng-container *ngIf="user else loading">
            <p class="p5" 
                [innerHTML]="user.description?.replaceAll('\r\n\r\n','<br>')?.replaceAll('\r\n','<br>')">
            </p>
        </ng-container>
    </div>

    <div class="observations">
        <h5>Observations</h5>
        <app-taxonomy [params]="{user_login: this.user_login}" [tailId]="tailId"></app-taxonomy>
        <app-observation-grid [query]="obsQuery" [retrieveOnScroll]="true" [styled]="true"></app-observation-grid>
    </div>
    
    <ng-template #loading>
        <clr-progress-bar clrLoop></clr-progress-bar>
    </ng-template> 
