/* You can add global styles to this file, and also import other style files */
/* html{
    font-size: 16.666667px !important;
} */

.clr-control-container{
    width: 100% !important;
}

.header-overflow-trigger{
    display: none !important;
}

body{
    height: 100% !important;
}


:root{
    --clr-header-2-bg-color: hsl(198, 0%, 98%);
    --clr-header-font-color: hsl(198, 0%, 20%);
}

@media screen and (max-width: 768px) {
    .large-screen-only{
        display: none;
    }    
}


.sticky-top{
    position: sticky;
    top: 0;
    z-index: 10;
}

.p5{
    line-height: 0.8rem !important;
}