<!-- <div class="custom-header">
    <a [routerLink]="['/']">
        <cds-icon shape="brand" class="brand"></cds-icon>
    </a>
    <div class="header-actions">
        <clr-dropdown>
        <button class="btn btn-link btn-icon" clrDropdownTrigger aria-label="toggle settings menu">
            <cds-icon shape="cog" size="md"></cds-icon>
            <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a [routerLink]="['preference']" clrDropdownItem>
                <cds-icon shape="cog"></cds-icon>Preferences</a>
            <a [routerLink]="['authorize']" clrDropdownItem>
                <cds-icon shape="key"></cds-icon>Authorize</a>
        </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</div> -->

<app-header title="iNatureGram" id='top' (onAction)="reload()" shape="logo"></app-header>
<div class="home">

    <div class="filters">
        <a [routerLink]="['preference']" class="btn btn-sm btn-pref">
            <cds-icon shape="filter-grid" size="md"></cds-icon>
        </a>
        <app-chips [chips]="filterChips" (chipSelect)="selectFilterOption($event)" ></app-chips>
    </div>

    <app-gram #grams *ngFor="let observation of observations | async; let isLast = last; trackBy: trackByItems" 
        [class.last]="isLast" 
        [observation]="observation">
    </app-gram>

    <ng-container *ngIf="end">
        <p class="end">{{ (observations | async)?.length ? 
            'Oh hi! You scrolled through all observations!' : 'No observations'}}</p>
        <div *ngIf="!(observations | async)?.length">
        </div>
    </ng-container>

    <div class="spinner-container">
        <span class="spinner spinner-md" [hidden]="!(loading|async)">
            Loading...
        </span>
    </div>

</div>