.progress{
    height: 6px !important;
}

.spinner-container{
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.home{
    max-width: 768px;
    width: 100%;
    /* display: grid;
    justify-content: center; */
}

.end{
    text-align: center;
}