<div class="home">

    <app-gram #grams *ngFor="let observation of observations | async; let isLast = last; trackBy: trackByItems" 
        [class.last]="isLast" 
        [observation]="observation">
    </app-gram>

    <ng-container *ngIf="end">
        <p class="end">Oh hi! You scrolled through all observations!</p>
    </ng-container>

    <div class="spinner-container">
        <span class="spinner spinner-md" [hidden]="!(loading|async)">
            Loading...
        </span>
    </div>

</div>