.progress{
    height: 6px !important;
}

.spinner-container{
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.home{
    max-width: 768px;
    width: 100%;
}

.end{
    text-align: center;
}

.custom-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    background-color: hsl(198, 0%, 98%);
}

.header-actions {
    align-self: center;
}

clr-dropdown > .btn{
    padding: 0; 
    margin: 0;
}

clr-dropdown > .btn > cds-icon{
    position: relative !important;
    right: unset;
}

.brand {
    height: 2rem !important;
    width: 8rem !important;
}

.sort-filter-container{
    display: flex;
    padding: 0.3rem;
}

.sort-filter-container > .btn{
    margin: 0 !important;
    align-self: center;
}

.sort-filter-options{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.label{
    align-self: center;
    border-radius: 0.3rem;
    border: none;
    background-color: hsl(198, 83%, 94%) !important;
    padding: 0 0.6rem !important;
    margin: 0 .3rem .05rem 0 !important;
}

.label-selected{
    background-color: hsl(198, 100%, 32%) !important;
    color: hsl(198, 0%, 100%) !important;
}

clr-dropdown > .label > cds-icon{
    position: relative !important;
    right: unset;
}

.btn-pref{
    text-transform: unset;
    margin: 0;
}

.position-static {
    position: static !important;
}

.display-none {
    display: none;
}

.filter-options-dd-item{
    margin: 0.1rem !important;
}

::-webkit-scrollbar{
    display: none;
}

