.progress{
    height: 6px !important;
}

.spinner-container{
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.home{
    max-width: 768px;
    width: 100%;
}

.end{
    text-align: center;
}

.custom-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    background-color: hsl(198, 0%, 98%);
}

.header-actions {
    align-self: center;
}

clr-dropdown > .btn{
    padding: 0; 
    margin: 0;
}

clr-dropdown > .btn > cds-icon{
    position: relative !important;
    right: unset;
}

.brand {
    height: 2rem !important;
    width: 8rem !important;
}

.filters{
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow: scroll;
    padding: 0.3rem 0;
    scrollbar-width: none;
}


.btn-pref{
    min-width: 1.5rem !important;
    padding: 0 !important;
    margin: 0 0 0 0.3rem !important;
    align-self: center;
    background-color: hsl(198, 83%, 94%) !important;
    display: block;
    border: none;
}

.position-static {
    position: static !important;
}

.display-none {
    display: none;
}

::-webkit-scrollbar{
    display: none;
}

.chips-filter-container{
    display: flex;
    align-items: center;
}