<app-header title="iNatureGram" id='top' 
    (onAction)="reload()" shape="logo" 
    [secondaryShape]="bellIcon" (onSecondaryAction)="goToNotifications()"
    [badge]="(notification$ | async) ? 'warning': ''" class="sticky-top"></app-header>

    <div class="chips-filter-container">
        <button class="btn btn-link btn-icon btn-sm large-screen-only" >
            <cds-icon shape="angle" direction="left" size="sm" 
                (click)="optscroll.scrollTo({left: optscroll.scrollLeft - 100})">
            </cds-icon>
        </button> 
        <div class="filters" #optscroll>
            <a [routerLink]="['preference']" class="btn btn-sm btn-pref">
                <cds-icon shape="filter-grid" size="md"></cds-icon>
            </a>
            <app-chips [chips]="filterChips" (chipSelect)="selectFilterOption($event)" ></app-chips>
        </div>
        <button class="btn btn-link btn-icon btn-sm large-screen-only" >
            <cds-icon shape="angle" direction="right" size="sm" 
                (click)="optscroll.scrollTo({left: optscroll.scrollLeft + 100})">
            </cds-icon>
        </button> 
    </div>
<div class="home">


    <app-gram #grams *ngFor="let observation of observations | async; let isLast = last; trackBy: trackByItems" 
        [class.last]="isLast" 
        [observation]="observation">
    </app-gram>

    <ng-container *ngIf="end">
        <p class="end">{{ (observations | async)?.length ? 
            'Oh hi! You scrolled through all observations!' : 'No observations'}}</p>
        <div *ngIf="!(observations | async)?.length">
        </div>
    </ng-container>

    <div class="spinner-container">
        <span class="spinner spinner-md" [hidden]="!(loading|async)">
            Loading...
        </span>
    </div>

</div>