<div class="activity-container">
    <div *ngFor="let com of combination">
        <div class="clr-row">
            <div class="clr-col-auto">
                <a [routerLink]="['naturalist',com.user.login]">
                    <img [src]="com.user.icon || 'assets/default.png'" 
                        class="user_icon">
                </a>
            </div>
            <div class="clr-col">
                <div class="card-text">
                    <p class="user-name"><a [routerLink]="['naturalist',com.user.login]" class="p4">{{com.user.login}}</a>
                    ・ <span class="p7">{{com.created_at | dateTimeAgo:'short' | async }}</span> ・ <span class="p7">{{com.category}}</span></p>
                    <ng-container *ngIf="com.taxon">
                        <app-taxon [taxon]="com.taxon"></app-taxon>
                        <button #b *ngIf="com.category!='supporting'" 
                            [disabled]="authServ.isExpired"
                            (click)="agree(com.taxon,b)"
                            [clrLoading]="identBtnState"
                            class="btn btn-sm btn-success-outline btn-icon">
                            <cds-icon shape="check"></cds-icon>agree</button>
                    </ng-container>
                    <p class="p5" [innerHTML]="com.body"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clr-row your-input clr-align-items-center" *ngIf="!authServ.isExpired">
    <div class="clr-col-auto user-icon-container">
        <img [src]="authServ.me?.icon || 'assets/default.png'" class="user_icon">
    </div>
    <div class="clr-col">
        <textarea type="text" class="p5" #textarea 
            [ngStyle]="{'height.px': textarea.scrollHeight }"
            [(ngModel)]="newComment" name="newcomment" rows="1" placeholder="comment">
        </textarea>
    </div>
    <div class="clr-col-auto">
        <button class="btn btn-link btn-sm comment-btn" [clrLoading]="submitBtnState" (click)="onSubmit()" [disabled]="!newComment">Add</button>
    </div>
</div>
