
<div class="spinner-container">
    <span class="spinner spinner-md" [hidden]="!(loading)">
        Loading...
    </span>
</div>
<div class="activity-container" [class.flex-auto]="auto">
    <div *ngFor="let com of combination | slice:0:index; trackBy:trackByItems" class="activity" [class.opacity-5]="!com.current && com.taxon" #activity>
        <div class="clr-row activity-header">
            <div class="clr-col-auto">

                <img *urlify="['/naturalist',com.user.login]" 
                    [src]="com.user.icon || 'assets/default.png'" 
                    class="user_icon">

            </div>
            <div class="clr-col">
                <p class="user-name" >
                <span *urlify="['/naturalist',com.user.login]" class="p4">{{com.user.login}}</span>
                ・ <span class="p7">{{com.created_at | dateTimeAgo:'short' | async }}</span> ・ <span class="p7">{{ (com.current||!com.taxon) ? com.category: 'withdrawn'}}</span></p>
            </div>
        </div>
        <div class="activity-body">
            <ng-container *ngIf="com.taxon">
                <app-taxon [taxon]="com.taxon"></app-taxon>
                <button #b *ngIf="com.category!='supporting' && com.taxon.is_active && com.current" 
                    [disabled]="authServ.isExpired"
                    (click)="agree(com.taxon,b)" clrLoading=""
                    class="btn btn-sm btn-success-outline btn-icon">
                    <cds-icon shape="check"></cds-icon>agree</button>
            </ng-container>
            <p class="p5 activity-body-body" [innerHTML]="com.body"></p>
        </div>
    </div>
    <span appIntersectionObserver (intersected)="loadmorecomments()" 
        [observe]="observe" [hidden]="!observe">...</span>
</div>

<div class="your-input" *ngIf="!authServ.isExpired">

    <div class="user-comment clr-row clr-align-items-center">
        <div class="clr-col-auto user-icon-container">
            <img [src]="authServ.me?.icon || 'assets/default.png'" class="user_icon">
        </div>

        <div class="clr-col">
            <ng-container *ngIf="selectedTaxon">
                <div class="card card-id">
                    <app-taxon [taxon]="selectedTaxon"></app-taxon>
                    <cds-icon (click)="selectedTaxon=undefined;id=undefined" [attr.shape]="'close'"></cds-icon>
                </div>
            </ng-container>
            <div class="input-container">
                <button class='btn btn-sm btn-success'
                [clrLoading]="identBtnState" 
                (click)="getSuggestions();isIdentifying=true">
                ID</button>
                <textarea type="text" class="p5" #textarea 
                    [ngStyle]="{'height.px': textarea.scrollHeight }"
                    [(ngModel)]="newComment" name="newcomment" rows="1" 
                    placeholder="Comment">
                </textarea>
            </div>
        </div>  

        <button class="btn btn-link btn-sm comment-btn btn-icon" [clrLoading]="submitBtnState" 
            (click)="onSubmit()" [disabled]="!newComment && !id">
            <cds-icon shape="check"></cds-icon></button>

    </div>

    <div class='user-identification' [class.display-inline-block]="isIdentifying">
        <cds-icon class="search" (click)="isIdentifying=false" [attr.shape]="'search'"></cds-icon>
        <input type="text" #idInput class="p5" placeholder="search taxon" id="qTaxon" [formControl]="qTaxon" />
        <cds-icon class="close-icn" (click)="isIdentifying=false;qTaxon.reset()" [attr.shape]="'close'"></cds-icon>
    </div>

    <div class="search-list" [hidden]="!isIdentifying" [class.flex-auto]="auto">
        <div class="card clickable" for="qTaxon" *ngFor="let sug of suggestions" (click)="identify(sug)">
            <app-taxon  [taxon]="sug.taxon" class="list-taxon"></app-taxon>
            <div class="taxon-rank-up">
                <button class="btn btn-sm btn-primary" [disabled]="sug.taxon.id == 48460" #r clrLoading="" (click)="rankup(sug,$event,r)">Rank up</button>
                <ng-container *ngIf="sug.combined_score > 0 || sug.score">
                    <p class="p7 score">{{( sug.score ? 'common ancestor' : 'computer vision score: ' )}}
                        <span *ngIf="sug.combined_score">{{ (sug.combined_score/100) | percent}}</span>
                    </p>
                </ng-container>
            </div>
        </div>
    </div>  
</div>




 

