.user_icon{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.user-icon-container{
    align-self: flex-start;
}

p{
    margin-top: 0 !important;
}

.taxon-common{
    line-height: 0.8rem !important;
}

.taxon-container {
    display: flex;
    margin: 0.3rem 0;
}



.taxon-img{
    width: 1.8rem;
    height: 1.8rem;
    align-self: center;
}

.taxon-taxon{
    margin-left: 0.3rem !important;
}

.taxon-name{
    margin-top: 0 !important;
}

.clr-row{
    margin: 0 !important;
}

.activity{
    margin: 0.3rem 0 !important;
}

.activity-body{
    margin-left: 1.5rem;
}

.activity-body > .p5 {
    line-height: 0.8rem !important;
}

.activity-body-body{
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.clr-col-auto{
    padding: 0;
}

a {
    text-decoration: unset;
}

.comment-btn{
    padding: 0 !important;
    min-width: 0;
    margin: 0;
    align-self: end;
    width: 1rem !important;
}

.activity-container {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
    flex: 1 2 0;
}

.search-list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    flex: 10 2 1px;
    max-height: 10rem;
    height: 10rem;
}

.flex-auto{
    flex: auto !important;
}

.spinner-container{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: fit-content;
}


.user-identification{
    padding: 0.3rem 0;
    display: none;
    width: 100%;
}


.input-container{
    display: flex;
    align-items: center;
}
.input-container > .btn{
    margin: 0;
    width: 1.2rem !important;
    min-width: 1.2rem !important;
    padding: 0;
    border: none !important;
    z-index: 1;
}

.card-id{
    padding: 0.3rem;
    margin-top: 0.2rem; 
    display: flex;
    width: 100%;
    margin-bottom:0.2rem; 
    box-shadow: none !important;    
}

.card-id > span{
    flex: auto;
}


.input-container > textarea {
    border-radius: .2rem;
    border-style: hidden;
    background-color: hsl(198, 0%, 91%);
    margin-top: 0 !important;
    width: 100%;
    padding-left: 1.7rem;
    margin-left: -1.5rem;
    min-height: 1.2rem;
 }

 .user-identification > input {
    border-radius: .2rem;
    border-style: hidden;
    background-color: hsl(198, 0%, 91%);
    margin-top: 0 !important;
    width: 100%;
    min-height: 1.2rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}

.user-identification > .close-icn{
    margin-left: -1rem;
}

.user-identification > .search{
    margin-right: -1rem;
}

.your-input{
    flex: initial;
}

.opacity-5{
    opacity: 0.5
}

.search-list > .card {
    box-shadow: none !important;    
    margin-top: 0.2rem; 
    padding: 0 0.5rem;
    display: flex;
    width: 100%;
}

.list-taxon{
    flex: 1 1 auto;
}

.taxon-rank-up{
    align-self: center;
    text-align: end;
}

.taxon-rank-up > .btn{
    margin: 0;
}

.score{
    text-align: end;
    width: fit-content;
}

.display-inline-block {
    display: inline-block !important;
}

.display-none{
    display: none !important;
}

:host{
    display: flex;
    flex-direction: column;
    max-height: inherit;
    max-width: inherit;
    width: 100% !important;
    flex: auto;
}

/* @media screen and (min-width: 768px) {
    :host{
        max-width: 20rem;
        max-height: 75dvh;
    }
} */