.user_icon{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.user-icon-container{
    align-self: flex-start;
}

p{
    margin-top: 0 !important;
}

.taxon-common{
    line-height: 0.8rem !important;
}

.taxon-container {
    display: flex;
    margin: 0.3rem 0;
}

.card-text > .p5 {
    line-height: 0.8rem !important;
}

.taxon-img{
    width: 1.8rem;
    height: 1.8rem;
    align-self: center;
}

.taxon-taxon{
    margin-left: 0.3rem !important;
}

.taxon-name{
    margin-top: 0 !important;
}

.clr-row{
    margin: 0.3rem 0 !important;
}

.clr-col-auto{
    padding: 0;
}

a {
    text-decoration: unset;
}

textarea {
    border-radius: .2rem;
    border-style: hidden;
    background-color: hsl(198, 0%, 91%);
    margin-top: 0 !important;
    width: 100%;
}

.your-input{
    margin-top: 1rem;
}

.comment-btn{
    padding: 0 !important;
    min-width: 0;
}

.activity-container {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    max-height: 65dvh;
    width: 100%;
}