<div *ngFor="let com of combination">
    <div class="clr-row">
        <div class="clr-col-auto">
            <a [routerLink]="['naturalist',com.user.login]">
                <img [src]="com.user.icon || 'assets/default.png'" 
                    class="user_icon">
            </a>
        </div>
        <div class="clr-col">
            <div class="card-text">
                <p class="user-name"><a [routerLink]="['naturalist',com.user.login]" class="p4">{{com.user.login}}</a>
                 ・ <span class="p7">{{com.created_at | dateTimeAgo:'short'}}</span> ・ <span class="p7">{{com.category}}</span></p>
                <ng-container *ngIf="com.taxon">
                    <div class="taxon-container">
                        <img [src]="com.taxon.default_photo?.url || 'assets/default.png'" class="taxon-img">
                        <div class="taxon-taxon">
                            <h6 class="taxon-name"><em>{{com.taxon?.name}}</em></h6>
                            <p class="p5 taxon-common">{{com.taxon?.preferred_common_name}}</p>
                        </div>
                    </div>
                    <button *ngIf="com.category!='supporting'" class="btn btn-sm btn-success-outline btn-icon">
                        <cds-icon shape="check"></cds-icon>agree</button>
                </ng-container>
                <p class="p5" [innerHTML]="com.body"></p>
            </div>
        </div>
    </div>
</div>
<div class="clr-row your-input clr-align-items-center" *ngIf="!authServ.isExpired">
    <div class="clr-col-auto">
        <a [routerLink]="['naturalist',authServ.me?.login]">
            <img [src]="authServ.me?.icon || 'assets/default.png'" 
                class="user_icon">
        </a>
    </div>
    <div class="clr-col">
        <form (ngSubmit)="onSubmit()">
            <input type="text" class="p5" [(ngModel)]="newComment" name="newcomment" placeholder="comment">
        </form>
    </div>
    <div class="clr-col-auto">
        <button class="btn btn-link btn-sm comment-btn" [disabled]="!newComment">Add</button>
    </div>
</div>
